@page "/manage/hosts/add"
@inject NavigationManager Navigation
@inject IHostService service
@attribute [Authorize(Roles = "Admin")]

<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<MudText Typo="Typo.h2">Dodaj host</MudText>

<MudItem style="width: 410px">
    <MudTextField @bind-Value="NewHost.DisplayName" Label="Nazwa hosta" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
</MudItem>
<MudItem style="width: 410px">
    <MudTextField @bind-Value="NewHost" Label="Nazwa hosta" Variant="Variant.Text" Margin="Margin.Dense" Lines="3"></MudTextField>
</MudItem>


<MudForm>
    <MudRadioGroup @bind-SelectedOption="@NewHost.IsWindows">
        <MudRadio Option="true" Color="Color.Primary">Windows</MudRadio>
        <MudRadio Option="false" Color="Color.Primary">Linux</MudRadio>
    </MudRadioGroup>
</MudForm>

<div class="d-flex align-center">
    <MudButton Variant="Variant.Outlined" OnClick="Reset">Reset</MudButton>
    <MudText Class="ml-4">(Do testów)Selected Option (IsWindows?): @(NewHost.IsWindows ? "Windows" : "Linux")</MudText>
</div>

<MudItem style="width: 410px">
    <MudTextField @bind-Value="NewHost.URI" Label="Adres hosta" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
</MudItem>

<MudItem style="width: 410px">
    <MudTextField @bind-Value="NewHost.Port" Label="Port" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
</MudItem>

<br />

<MudItem>
    <MudFab Color="Color.Primary" Icon="fas fa-sync-alt" Label="Sprawdź połączenie" Class="py-4 px-6 rounded-lg" />
</MudItem>

<br />

<MudItem>
    <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Add" Label="Utwórz" Class="py-4 px-6 rounded-lg" OnClick="CreateHost"/>
</MudItem>




@code {
    public HostModel NewHost { get; set; } = new();

    public string SelectedOption { get; set; }

    private void Reset()
    {
        SelectedOption = null;
    }


    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
        //TODO upload the files to the server
    }

    private async void CreateHost()
    {
        await service.AddHost(NewHost);
        Navigation.NavigateTo($"/manage/hosts");
    }

}
