@page "/manage/hosts/edit/{HostId}"
@using System.Net
@inject NavigationManager Navigation
@inject IHostService HostSrvc
@inject ISnackbar Snackbar
@attribute [Authorize(Roles = "Admin")]

<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">

<h2>Edit host</h2>

@if (Host != null)
{

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="Host.DisplayName" Label="Host display name" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>


    <MudForm>
        <MudRadioGroup @bind-SelectedOption="@Host.IsWindows">
            <MudRadio Option="true" Color="Color.Primary">Windows</MudRadio>
            <MudRadio Option="false" Color="Color.Primary">Linux</MudRadio>
        </MudRadioGroup>
    </MudForm>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="Host.URI" Label="Host URI" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>

    <br />

    <MudItem>
        <MudFab Color="Color.Primary" Icon="fas fa-sync-alt" Label="Test connection" Class="py-4 px-6 rounded-lg" />
    </MudItem>

    <br />

    <MudItem>
        <MudFab Disabled="conn!=1" Color="Color.Primary" Icon="@Icons.Filled.Save" Label="Save" Class="py-4 px-6 rounded-lg" OnClick="SaveChanges" />
    </MudItem>
}



@code {


    [Parameter]
    public string HostId { get; set; }
    public HostModel Host { get; set; }
    private int conn = 0;

    protected override async Task OnParametersSetAsync()
    {
        Host = await HostSrvc.HostDetails(HostId);
    }


    private async Task SaveChanges()
    {
        var ret = await HostSrvc.EditHost(Host);
        Navigation.NavigateTo("/manage/hosts");
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        if (ret.IsSuccessStatusCode)
        {
            Snackbar.Add("Host has been edited successfully", Severity.Success);
        }
    }

    private async Task Test()
    {
        conn = await HostSrvc.TestConnection(WebUtility.UrlEncode(Host.URI)) ? 1 : -1;
    }

}
