@page "/hosts/details" 
@inject NavigationManager Navigation

<style>
    .host-details-table{
        font-size: 16pt;
    }
    .host-details-table td:first-child{
        font-weight: bold;
    }
</style>

<h3>Host machine details</h3>

<div>
    { TODO } 
</div>

@code {
   
}
