@page "/manage/admins"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ProITM.Client.Services
@using ProITM.Shared
@inject IAdministrationService administrationService
@inject NavigationManager navigationManager

<h3>Manage Admins</h3>

@if (admins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-secondary mb-1" @onclick="(() => EditUsersInGroup())">Add or Remove Admins</button>

    @if (!admins.Any())
    {
        <p>No admins added yet.</p>
        <p>Sounds like your application has a major issue.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Confirmed
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var adm in admins)
                {
                    <tr onclick="">
                        <td>
                            @adm.UserName
                        </td>
                        <td>
                            @adm.Email
                        </td>
                        <td>
                            @adm.EmailConfirmed
                        </td>
                        <td>
                            <button class="btn btn-secondary" href="#">Delete</button>
                            <button class="btn btn-secondary" href="#">Demote</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

}


@code {

    private List<UserModel> admins;

    protected override async Task OnInitializedAsync()
    {
        admins = await administrationService.GetAdmins();
    }

    protected void EditUsersInGroup()
    {
        navigationManager.NavigateTo($"manage/admins/usersinrole/");
    }

}
