@page "/testing"
@attribute [Authorize(Roles = "Admin")]

@inject IContainerService cs
@inject NavigationManager navigationManager

<h3>Testing</h3>

@if(containers != null)
{
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
    </table>
    <tbody>
        @foreach(var con in containers)
        {
            <tr>
                <td>
                    @con.Id
                </td>
                <td>
                    @con.Name
                </td>
            </tr>
        }
    </tbody>
    
}

@code {
    List<ContainerModel> containers;

    protected override async Task OnInitializedAsync()
    {
        containers = await cs.ListContainers(50);
    }
}
