@page "/testing"
@attribute [Authorize(Roles = "Admin")]

@inject IContainerService cs
@inject NavigationManager navigationManager

<h3>Testing</h3>

@if(containers != null)
{
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
    </table>
    <tbody>
        @foreach(var con in containers)
        {
            <tr @onclick="(() => Delet(con.Id))">
                <td>
                    @con.Id
                </td>
                <td>
                    @con.Name
                </td>
            </tr>
        }
    </tbody>
    
}

<input type="button" @onclick="() => Creat())" value="Creat" />

@code {
    List<ContainerModel> containers;

    protected override async Task OnInitializedAsync()
    {
        containers = await cs.ListContainers(50);
    }

    protected async Task Delet(string id)
    {
        _ = await cs.DeleteContainer(id);
    }
    
    protected async Task Creat()
    {
        ContainerModel model = new();
        _ = await cs.CreateContainer(model);
    }
}
