<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>bin\Release\net5.0\publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net5.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>0857b71d-bb3b-4394-b14c-78ff7761782b</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
  <Target Name="RemovePrevious" AfterTargets="AfterPublish">
    <Exec Command="plink -batch -P 51337 -ssh wcy@20.79.220.78 rm -rf /home/wcy/publish/*" />
  </Target>
  <Target Name="DeployToPSCP" AfterTargets="RemovePrevious">
    <Exec Command="pscp -P 51337 -r bin\Release\net5.0\publish\* wcy@20.79.220.78:/home/wcy/publish" />
  </Target>
  <Target Name="ReloadSupervisor" AfterTargets="DeployToPSCP">
    <Exec Command="plink -batch -P 51337 -ssh wcy@20.79.220.78 sudo supervisorctl reload" />
  </Target>
</Project>