@page "/images/edit/{ImageId}"
@inject NavigationManager Navigation

@inject IImageService ImgSrvc
@if (Image != null)
{

    <h2>Edit Image</h2>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="Image.DisplayName" Label="Image name" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="Image.DisplayName" Label="Dockerhub Image ID" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
    </MudItem>

    <MudItem style="width: 410px">
        <MudTextField @bind-Value="Image.Description" Label="Image description" Variant="Variant.Text" Margin="Margin.Dense" Lines="3"></MudTextField>
    </MudItem>

    <br />

    <MudItem>
        <MudFab Color="Color.Primary" Icon="@Icons.Filled.Save" Label="Save" Class="py-4 px-6 rounded-lg" />
    </MudItem>
}


@code {
    [Parameter]
    public string ImageId { get; set; }
    public ImageModel Image { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Image = await ImgSrvc.GetImageDetails(ImageId);
    }

}
