@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase


<div class="page">
    <MatAppBarContainer>
        <MatAppBar Fixed="true" Style="background-color: rgb(27, 95, 222)">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" @onclick="ButtonClicked"></MatIconButton>
                    <MatAppBarTitle>ProITM - Docker manager</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <LoginDisplay />
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <MatDrawerContainer Style="width: 100%; height: 100%;">
                <MatDrawer @bind-Opened="@Opened" Style="position: fixed; background-color: rgb(227, 227, 227)">
                    <NavMenu />
                </MatDrawer>
                <MatDrawerContent>
                    <div class="main">
                        @Body
                    </div>
                </MatDrawerContent>
            </MatDrawerContainer>

        </MatAppBarContent>
    </MatAppBarContainer>


</div>


@code
{
    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

}