@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase


<div class="page">
    <MudAppBar Style="background-color: rgb(27, 95, 222)" Fixed="false" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => MenuClicked())" />
        ProITM - Docker manager
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>

    <MudDrawerContainer>
        <MudDrawer @bind-Open="@Open" Style="background-color: rgb(227, 227, 227)" Variant="@DrawerVariant.Persistent">
            <NavMenu />
        </MudDrawer>

        <MudMainContent>
            <div class="main">
                @Body
            </div>
        </MudMainContent>
    </MudDrawerContainer>


</div>


@code
{
    bool Open = true;

    void MenuClicked()
    {
        Open = !Open;
    }

}