    <MatNavMenu Style="padding-top: 20px;">
    <AuthorizeView>
        <Authorized>
            <MatNavItem Href="/" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="grade"></MatIcon>&nbsp; Index </MatNavItem>
            <MatNavItem Href="containers" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Containers </MatNavItem>
            <MatNavItem Href="images" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Images </MatNavItem>
            <MatNavItem Href="hosts" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Hosts </MatNavItem>
            <MatNavItem Href="authentication/profile" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Account settings </MatNavItem>
        </Authorized>
        <NotAuthorized>
            <MatNavItem Href="authentication/login" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Login </MatNavItem>
            <MatNavItem Href="authentication/register" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Register </MatNavItem>
        </NotAuthorized>
    </AuthorizeView>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <MatNavItem Href="manage/users" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Manage Users </MatNavItem>
            <MatNavItem Href="manage/admins" NavLinkMatch="NavLinkMatch.Prefix"><MatIcon Icon="grade"></MatIcon>&nbsp; Manage Admins </MatNavItem>
        </Authorized>
    </AuthorizeView>
</MatNavMenu>





    <!--ul class="flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Index
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="containers">
                        <span class="oi oi-box" aria-hidden="true"></span> Containers
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="images">
                        <span class="oi oi-document" aria-hidden="true"></span> Images
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="hosts">
                        <span class="oi oi-monitor" aria-hidden="true"></span> Hosts
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/profile">
                        <span class="oi oi-person" aria-hidden="true"></span> Account settings
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/login">
                        <span class="oi oi-key" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="authentication/register">
                        <span class="oi oi-bookmark" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/users">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Manage Users
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/admins">
                        <span class="oi oi-people" aria-hidden="true"></span> Manage Admins
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul-->
@code {
}
