@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProITM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                ADMINISTRACJA
            </NavLink>
        </li>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/users">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Manage Users
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="manage/admins">
                        <span class="oi oi-people" aria-hidden="true"></span> Manage Admins
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                TESTY - Administrator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testing/hosts">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Zarządzaj hostami
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testing/cont/adminViewAll">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Zarządzaj kontenerami
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testing/cont/adminViewUser">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Kontenery operatorów
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                TESTY - Operator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testing/cont/userViewAddOwn">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Moje kontenery
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="testing/cont/userViewDetes/NONE_SPECIFIED">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Logi kontenera
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
